{% extends 'base/base.html'%}
{% block search %}{% endblock %}
{% block bg-contadorb %}bg-secondary text-white"{% endblock %}

{% block search_xs %}{% endblock %}
{% block bg-circle1b %}bg-secondary "{% endblock %}
{% block bg-circle2b %}bg-secondary "{% endblock %}
{% block bg-circle5b %}bg-secondary "{% endblock %}
{% block colormodal %}class="btn btn-secondary"{% endblock %}
{% block campanita %}
            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas text-white fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-counter bg-secondary text-white " >4</span>
              </a>
              <!-- Dropdown - Alerts -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header" style="background: #2f3037; border-color: #2f3037">
                  Ultimas transacciones
                </h6>
                  {% if ultimos %}
                      {% for ultimo in ultimos %}
                          <a class="dropdown-item d-flex align-items-center" href="#">
                              <div class="mr-3">
                                  <div class="icon-circle bg-secondary ">
                                      <i class="fas fa-donate text-white"></i>
                                  </div>
                              </div>
                              <div>
                                  <div class="small text-gray-500">{{ ultimo.fecha }}</div>
                                  {{ ultimo.descripcion }} por monto de ${{ ultimo.monto|floatformat:2 }}
                                  {{ ultimo.id }}
                              </div>
                          </a>
                      {% endfor %}
                  {% endif %}
                <a class="dropdown-item text-center small text-gray-500" href="{% url 'diario_list' %}">ver todas las transacciones</a>
              </div>
            </li>
{% endblock %}

{% block icon %}
    <div class="icon-circle bg-secondary">
        <i class="fas  fa-user " style="color:white"></i>
    </div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <div class="row text-gray-900">
                        <div class="col-auto">
                            <i class="fas fa-recycle"></i>
                        </div>
                        <div class="col mr-2">Inventario de producto terminado</div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#producto_modal">
                                <i class="fas fa-plus"></i>
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="producto_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <form method="post" action="{% url 'producto_create' %}">{% csrf_token %}
                                            <div class="modal-header bg-secondary text-white">
                                                <div class="col-auto"><i class="fas fa-recycle"></i></div>
                                                <h5 class="modal-title" id="exampleModalLabel">registro de productos terminados [entradas]</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    {{ form.as_p }}
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-secondary">añadir a inventario</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#producto_s_modal">
                                <i class="fas fa-window-minimize"></i>
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="producto_s_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <form method="post" action="{% url 'producto_salida' %}">{% csrf_token %}
                                            <div class="modal-header">
                                                <div class="col-auto"><i class="fas fa-recycle"></i></div>
                                                <h5 class="modal-title" id="exampleModalLabel">registro de producto terminado [salidas]</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    {{ form2.as_p }}
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-secondary">procesar salida</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-secondary" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}

                    {% endif %}
                    <div class="row">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link text-secondary active" href="#Tpentradas">Entradas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-secondary" href="#Tpsalidas">Salidas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-secondary" href="#Tpexistencias">Existencias</a>
                            </li>
                        </ul>

                    </div>
                    <div class="tablas">
                        <div class="seccion" id="Tpentradas">
                            {% if entradas %}
                                <table class="table table-light table-hover table-striped col-auto " >
                                    <thead>
                                        <tr class="text-gray-900 font-weight-bold">
                                            <td>fecha</td>
                                            <td>cantidad</td>
                                            <td>existencias</td>
                                            <td>precio unitario</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% for material in entradas%}
                                                <tr>
                                                    <td>{{ material.fecha }}</td>
                                                    <td>{{ material.cantidad }}</td>
                                                    <td>{{ material.existencias }}</td>
                                                    <td>{{ material.precio_unit }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                        </table>
                                    {% else %}
                                        <h4 class="text-gray-900 mt-4">NO EXISTEN REGISTROS DE INGRESO DE PRODUCTO TERMINADO

                                        </h4>
                                    {% endif %}
                        </div>
                        <div class="seccion" id="Tpsalidas">
                            {% if salidas %}
                                <table class="table table-light table-hover table-striped col-auto " >
                                    <thead>
                                        <tr class="text-gray-900 font-weight-bold">
                                            <td>fecha</td>
                                            <td>cantidad</td>
                                            <td>precio unitario</td>
                                            <td>monto</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% for material in salidas%}
                                                <tr>
                                                    <td>{{ material.fecha }}</td>
                                                    <td>{{ material.cantidad }}</td>
                                                    <td>{{ material.precio_unit }}</td>
                                                    <td>{{ material.monto }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                </table>
                            {% else %}
                                <h4 class="text-gray-900 mt4">NO EXISTEN REGISTROS DE SALIDA DE PRODUCTO TERMINADO</h4>
                            {% endif %}
                        </div>
                        <div class="seccion" id="Tpexistencias">
                            {% if existencias %}
                                <table class="table table-light table-hover table-striped col-auto " >
                                    <thead>
                                    <tr class="text-gray-900 font-weight-bold">
                                        <td>fecha</td>
                                        <td>existencias</td>
                                        <td>precio unitario</td>
                                        <td>precio monto</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for material in existencias%}
                                            <tr>
                                                <td>{{ material.fecha }}</td>
                                                <td>{{ material.existencias }}</td>
                                                <td>{{ material.precio_unit }}</td>
                                                <td>{{ material.monto }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% else %}
                                    <h4 class="text-gray-900 mt-4">NO HAY PRODUCTOS TERMINADOS EN EXISTENCIA
                                    </h4>
                                {% endif %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scroll %}
    <a class="scroll-to-top bg-secondary rounded"  href="#page-top">
    <i class="fas fa-angle-up"></i>
    </a>
{% endblock %}